<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acuatico</title>
    <link rel="stylesheet" href="/src/Css/stylesacuatico.css">
</head>
<body>
    <a href="/src/views/3dacuatico.html" class="my-button">Siguiente</a>
    <a href="/src/views/menu.html" class="my-button2">Volver</a>

    <h1 class="title">Hábitat: Acuatico</h1>
    <h1 class="title2">Especie: Cangrejo</h1>
    <p class="text">El cangrejo habita en mares y ríos, pero no son buenos
        nadadores. Existen más de 4 mil especies, que pueden medir desde unos milímetros hasta 1 metro de ancho y cuando pierden una extremidad, tienen la posibilidad de regenerarse.</p>


</body>
</html>