<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aereo</title>
    <link rel="stylesheet" href="/src/Css/stylesaereo.css" />
  </head>
  <body>
    <a href="/src/views/3daereo.html" class="my-button">Siguiente</a>
    <a href="/src/views/menu.html" class="my-button2">Volver</a>
    <h1 class="title">Hábitat: Aereo</h1>
    <h1 class="title2">Especie: Aguila</h1>
    <p class="text">
      El águila es un ave ágil y muy silenciosa, logrando matar a su victima sin
      darse cuenta del peligro que corre, su cuerpo al ser aerodinámico le
      permite ser muy rápida. Un rasgo a destacar es su vista, ya que le permite
      ver su objetivo a kilómetros de distancia mientras está volando.
    </p>
  </body>
</html>
