<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="/src/Css/stylesmenu.css" />
  </head>
  <body>
    <h1 class="title">¿Qué hábitat deseas conocer?</h1>
    <a href="/index.html" class="textarriba">Regresar</a>
    <a href="/src/views/terrestre.html" class="texterres">Terrestre</a>
    <a href="/src/views/acuatico.html" class="textacua">Acuatico</a>
    <a href="/src/views/aereo.html" class="textaire">Aereo</a>

    <div class="circles-container">
      <div class="circle" id="circle1"></div>
      <div class="circle" id="circle2"></div>
      <div class="circle" id="circle3"></div>
    </div>
  </body>
</html>
