<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terrestre</title>
    <link rel="stylesheet" href="/src/Css/stylesterreste.css" />
  </head>
  <body>
    <h1 class="title">Hábitat: Terrestre</h1>
    <h1 class="title2">Especie: Jirafa</h1>

    <a href="/src/views/3dterrestre.html" class="my-button">Siguiente</a>
    <a href="/src/views/menu.html" class="my-button2">Volver</a>
    <p class="text">
      La jirafa es un animal cuádrupedo y de gran tamaño, aproximadamente 6
      metros de altura, que puede correr a más de 55 km/h en distancias cortas y
      a 15km/h en distancias largas. Entre sus rasgos más destacados, está su
      cuello, el cual se puede extender por 2 metros y su lengua hasta 50 cm,
      permitiéndole alcanzar las hojas de los árboles.
    </p>
  </body>
</html>
