body {
    background: url('/src/Img/wolfgang-hasselmann-DO0CZqNerW8-unsplash.jpg') center/cover no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
}

.my-button {
    background-color: #DE911D;
    font-family: 'Poppins';
    color: #FFF;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 85%; /* Ajusta la posición vertical del botón según sea necesario */
    left: 72%; /* Centra el botón horizontalmente */
    transform: translateX(-50%);
    text-decoration: none; /* Quitar subrayado */
}

.my-button:hover {
    background-color: #af741c;
}

.my-button2 {
    background-color: #DE911D;
    font-family: 'Poppins';
    color: #FFF;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 85%; /* Ajusta la posición vertical del botón según sea necesario */
    left: 81%; /* Centra el botón horizontalmente */
    transform: translateX(-50%);
    text-decoration: none; /* Quitar subrayado */
}

.my-button2:hover {
    background-color: #af741c;
}


.text {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    text-align: right;
    margin: 5;
    padding: 20px;
    position: absolute;
    top: 49%;
    left: 72%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Ajusta según sea necesario */
}

.title {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 35px;
    text-align: right;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 73%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Ajusta según sea necesario */
}

.title2 {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 35px;
    text-align: right;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 28%;
    left: 75%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Ajusta según sea necesario */
}
